<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CapterDAO">

    <insert id="insertCapter" parameterType="Capter">
        insert into t_capter(id,aname,`size`,duration,downPath,uploadDate,ablum_id)
        values(#{id},#{aname},#{size},#{duration},#{downPath},#{uploadDate},#{ablum_id})
    </insert>

</mapper>





















































